      - name: Run gitleaks (action)
        uses: zricethezav/gitleaks-action@v2
        with:
          args: detect --source . --format json --report-path gitleaks-report.json --config .gitleaks.toml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
